@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --background: #ffffff;
    --foreground: #171717;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --font-sans: var(--font-geist-sans);
    --font-mono: var(--font-geist-mono);
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Inter, Arial, Helvetica, sans-serif;
}

.perspective {
    perspective: 1000px;
}
.transform-style-3d {
    transform-style: preserve-3d;
}

.fly {
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
    animation-name: fly;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes fly {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translateX(-90vw);
        opacity: 0;
    }
}
